@import url('https://fonts.googleapis.com/css?family=Open+Sans');
body {
  font-family: Open Sans;
  .main {
    button {
      padding: 5px 15px;
      color: #fff;
      border: none;
      width: 100%;
      &.btn-danger {
        background: #ff0000;
        width: 47%;
        padding: 5px 1px;
      }
      &.btn-total {
        background: #ffb200;
      }
      &.btn-success {
        background: #5aaddd;
      }

      &.btn[disabled] {
        opacity: 0.65;
      }
      @media (max-width: 360px) {
        font-size: 10px;
        padding: 5px;
      }
    }
    max-width: 480px;
    margin: 30px auto;
    text-align: center;
    .head-title {
      h1 {
        background: #5aaddd;
        color: #fff;
        padding: 10px;
        border-radius: 3px;
        margin: 5px 0;
      }
      p {
        background: #ff0000;
        color: #fff;
        padding: 5px;
        border-radius: 3px;
        margin: 5px 0;
        text-transform: uppercase;
      }
    }
    .main-content {

      .output-data {

        table {
          border: 1px solid #ccc;
          max-width: 100%;
          width: 100%;
          table-layout: fixed;
          border-collapse: collapse;

          tr {

            td {
              position: relative;
              line-height: 1px;

            }

            input {
              display: none;
            }

            &.editing {
              span {
                display: none;
              }

              input {
                display: block;
              }
            }

            button.btn-success {
              display: none;
            }
            &.editing {
              .btn-danger {
                display: none;
              }
              .btn-success {
                display: block;
                margin: 2px 0;
              }
            }
          }
        }

        td, th {
          width: 100%;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          border: 2px solid #ccc;
        }
        th {
          border: 2px solid #5aaddd;
          font-weight: 700;
          color: #5aaddd;
          padding: 5px;

          input {
            width: 100%;
            padding: 5px 0;
            font-weight: 700;
            font-size: 18px;
            border: none;
            text-align: center;
            &:focus {
              box-shadow: none;
              border: none;
            }
          }
        }
        td {
          padding: 5px;
          text-align: center;
          input {
            width: 95%;
            text-align: center;
          }
        }
      }

      .input-data {
        #form {

          .title {
            margin: 10px 0 0 0;
            text-align: left;
            font-weight: 700;
          }

          .form-group {
            display: inline-block;
            width: 18.67%;
            input {
              width: 92%;
              text-align: center;
            }

            @media (max-width: 480px) {
              display: inline-block;
              width: 18.67%;
            }
          }
        }
      }
    }
    .copyright {
      position: absolute;
      bottom: 20px;
      margin: 0px auto;
      text-align: center;
      width: 100%;
    }
  }
}