<!DOCTYPE html>
<html>
<head>
  <title>Poker App with AngularJS</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/style.css">
</head>
<body ng-app="pokerApp" ng-controller="PokerController">
  <div class="main">
    <div class="head-title">
      <h1>Tính điểm đánh bài</h1>
      <p>Bài bạc là bác thằng bần! Thua nhớ trả tiền</p>
    </div>
    <div class="main-content">

      <!-- Start out data -->
      <div class="table-responsive output-data">
        <table class="table">
          <thead>
          <tr data-ng-repeat="player in empPlayer" ng-class="{editing : isSelectedPlayers($index)}">
            <th class="number">
              <span>STT</span>
            </th>
            <th>
              <span>{{player.player1}}</span>
              <input type="text" ng-model="selectedEditPlayers.player1" />
            </th>
            <th>
              <span>{{player.player2}}</span>
              <input type="text" ng-model="selectedEditPlayers.player2" />
            </th>
            <th>
              <span>{{player.player3}}</span>
              <input type="text" ng-model="selectedEditPlayers.player3" />
            </th>
            <th>
              <span>{{player.player4}}</span>
              <input type="text" ng-model="selectedEditPlayers.player4" />
            </th>
            <th class="action">
              <button class="btn btn-danger" data-ng-click="editPlayers($index)" type="button">Sửa</button>
              <button class="btn btn-danger" data-ng-click="deletePlayer(player.id, $index)" type="button">Xóa</button>
              <button class="btn btn-success" ng-click="savePlayers($index)">Save</button>
            </th>
          </tr>
          </thead>
          <tbody>
            <tr data-ng-repeat="point in empList" class="point-data" ng-class="{editing : isSelected($index)}">
              <td class="number">
                <span>{{$index + 1}}</span>
              </td>
              <td id="point-user">
                <span>{{point.point1}}</span><br>
                <input type="number" ng-model="selectedEdit.point1" />
              </td>
              <td id="point-user">
                <span>{{point.point2}}</span><br>
                <input type="number" ng-model="selectedEdit.point2" />
              </td>
              <td id="point-user">
                <span>{{point.point3}}</span><br>
                <input type="number" ng-model="selectedEdit.point3" />
              </td>
              <td id="point-user">
                <span>{{point.point4}}</span><br>
                <input type="number" ng-model="selectedEdit.point4" />
              </td>
              <td class="action">
                <button class="btn btn-danger" data-ng-click="editPoints($index)" type="button">Sửa</button>
                <button class="btn btn-danger" data-ng-click="deletePoint(point.id, $index)" type="button">Xóa</button>
                <button class="btn btn-success" ng-click="savePoint($index)">Save</button>
              </td>
            </tr>
            <tr class="last-row">
              <td class="number total-number">
                <p>Tổng điểm</p>
              </td>
              <td>
                <p class="number-item">{{sum1}}</p>
              </td>
              <td>
                <p class="number-item">{{sum2}}</p>
              </td>
              <td>
                <p class="number-item">{{sum3}}</p>
              </td>
              <td>
                <p class="number-item">{{sum4}}</p>
              </td>
              <td>
                <button class="btn btn-total" ng-click="tinh()" type="button">Tổng</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div><!-- End out data -->

      <!-- Start input data -->
      <div class="input-data">
        <form name="form1" id="form" novalidate >
          <p class="title">Điểm từng ván</p>
          <div class="form-group"
            data-ng-class="{
            'has-error': form.point.$dirty && form.point.$error.pattern,
            'has-success': form.point.$dirty && form.point.$valid}">
            <input class="form-control"
            class="form-control"
            type="text"
            data-ng-pattern="/[0-9\-\+]/"
            name = "point"
            data-ng-model="addemp.point1"
            placeholder="Điểm"
            required>
            <!-- Validate message -->
            <p class="help-block" data-ng-show="form.point.$dirty && form.point.$error.pattern">Không hợp lệ!</p>
          </div>
          <div class="form-group"
            data-ng-class="{
            'has-error': form.point.$dirty && form.point.$error.pattern,
            'has-success': form.point.$dirty && form.point.$valid}">
            <input class="form-control"
            class="form-control"
            type="text"
            data-ng-pattern="/[0-9\-\+]/"
            name = "point"
            data-ng-model="addemp.point2"

            placeholder="Điểm"
            required>
            <!-- Validate message -->
            <p class="help-block" data-ng-show="form.point.$dirty && form.point.$error.pattern">Không hợp lệ!</p>
          </div>
          <div class="form-group"
            data-ng-class="{
            'has-error': form.point.$dirty && form.point.$error.pattern,
            'has-success': form.point.$dirty && form.point.$valid}">
            <input class="form-control"
            class="form-control"
            type="text"
            data-ng-pattern="/[0-9\-\+]/"
            name = "point"
            data-ng-model="addemp.point3"
            placeholder="Điểm"
            required>
            <!-- Validate message -->
            <p class="help-block" data-ng-show="form.point.$dirty && form.point.$error.pattern">Không hợp lệ!</p>
          </div>
          <div class="form-group"
            data-ng-class="{
            'has-error': form.point.$dirty && form.point.$error.pattern,
            'has-success': form.point.$dirty && form.point.$valid}">
            <input class="form-control"
            class="form-control"
            type="text"
            data-ng-pattern="/[0-9\-\+]/"
            name = "point"
            data-ng-model="addemp.point4"
            placeholder="Điểm"
            required>
            <!-- Validate message -->
            <p class="help-block" data-ng-show="form.point.$dirty && form.point.$error.pattern">Không hợp lệ!</p>
          </div>
          <div class="form-group">
            <p><button class="btn btn-success" ng-click="saveEmp()" data-ng-disabled="form1.$invalid">Thêm</button></p>
          </div>
        </form>

        <!-- Input player name -->
        <form name="form2" id="form" novalidate >
          <p class="title">Nhập tên người chơi!</p>
          <div class="form-group"
            data-ng-class="{
            'has-error': form.name.$dirty &&  (form.name.$error.required || form.name.$error.minlength || form.name.$error.maxlength),
            'has-success': form.name.$valid}">
            <input
              class="form-control"
              type="text"
              data-ng-model="playeremp.player1"
              name="name"
              data-ng-minlength="0"
              data-ng-maxlength="20"
              placeholder="Tên"
              required>
              <p class="help-block" data-ng-show="form.name.$dirty && form.name.$error.required">Required!</p>
              <p class="help-block" data-ng-show="form.name.$dirty && form.name.$error.minlength">Too short!</p>
              <p class="help-block" data-ng-show="form.name.$dirty && form.name.$error.maxlength">Too looong!</p>
          </div>
          <div class="form-group"
            data-ng-class="{
            'has-error': form.name.$dirty &&  (form.name.$error.required || form.name.$error.minlength || form.name.$error.maxlength),
            'has-success': form.name.$valid}">
            <input
              class="form-control"
              type="text"
              data-ng-model="playeremp.player2"
              name="name"
              data-ng-minlength="0"
              data-ng-maxlength="20"
              placeholder="Tên"
              required>
              <p class="help-block" data-ng-show="form.name.$dirty && form.name.$error.required">Required!</p>
              <p class="help-block" data-ng-show="form.name.$dirty && form.name.$error.minlength">Too short!</p>
              <p class="help-block" data-ng-show="form.name.$dirty && form.name.$error.maxlength">Too looong!</p>
          </div>
          <div class="form-group"
            data-ng-class="{
            'has-error': form.name.$dirty &&  (form.name.$error.required || form.name.$error.minlength || form.name.$error.maxlength),
            'has-success': form.name.$valid}">
            <input
              class="form-control"
              type="text"
              data-ng-model="playeremp.player3"
              name="name"
              data-ng-minlength="0"
              data-ng-maxlength="20"
              placeholder="Tên"
              required>
              <p class="help-block" data-ng-show="form.name.$dirty && form.name.$error.required">Required!</p>
              <p class="help-block" data-ng-show="form.name.$dirty && form.name.$error.minlength">Too short!</p>
              <p class="help-block" data-ng-show="form.name.$dirty && form.name.$error.maxlength">Too looong!</p>
          </div>
          <div class="form-group"
            data-ng-class="{
            'has-error': form.name.$dirty &&  (form.name.$error.required || form.name.$error.minlength || form.name.$error.maxlength),
            'has-success': form.name.$valid}">
            <input
              class="form-control"
              type="text"
              data-ng-model="playeremp.player4"
              name="name"
              data-ng-minlength="0"
              data-ng-maxlength="20"
              placeholder="Tên"
              required>
              <p class="help-block" data-ng-show="form.name.$dirty && form.name.$error.required">Required!</p>
              <p class="help-block" data-ng-show="form.name.$dirty && form.name.$error.minlength">Too short!</p>
              <p class="help-block" data-ng-show="form.name.$dirty && form.name.$error.maxlength">Too looong!</p>
          </div>
          <div class="form-group">
            <p><button class="btn btn-success" ng-click="playersEmp()" data-ng-disabled="form2.$invalid">Thêm</button></p>
          </div>
        </form>
      </div><!-- End input data -->
    </div>
  </div>
  <script src="lib/ionic/js/angular/angular.min.js"></script>
  <script src="node_modules/angular-local-storage/dist/angular-local-storage.min.js"></script>
  <script src="lib/angular-xeditable/dist/js/xeditable.js"></script>
  <script src="js/app.js"></script>
  <script src="js/edit.js"></script>
</body>
</html>
