@import url("https://fonts.googleapis.com/css?family=Open+Sans");
body {
  font-family: Open Sans; }
  body .main {
    max-width: 480px;
    margin: 30px auto;
    text-align: center; }
    body .main button {
      padding: 5px 15px;
      color: #fff;
      border: none;
      width: 100%; }
      body .main button.btn-danger {
        background: #ff0000;
        width: 47%;
        padding: 5px 1px; }
      body .main button.btn-total {
        background: #ffb200; }
      body .main button.btn-success {
        background: #5aaddd; }
      body .main button.btn[disabled] {
        opacity: 0.65; }
      @media (max-width: 360px) {
        body .main button {
          font-size: 10px;
          padding: 5px; } }
    body .main .head-title h1 {
      background: #5aaddd;
      color: #fff;
      padding: 10px;
      border-radius: 3px;
      margin: 5px 0; }
    body .main .head-title p {
      background: #ff0000;
      color: #fff;
      padding: 5px;
      border-radius: 3px;
      margin: 5px 0;
      text-transform: uppercase; }
    body .main .main-content .output-data table {
      border: 1px solid #ccc;
      max-width: 100%;
      width: 100%;
      table-layout: fixed;
      border-collapse: collapse; }
      body .main .main-content .output-data table .number {
        background: #ff0000;
        color: #fff;
        border: 2px solid #5aaddd; }
      body .main .main-content .output-data table .total-number {
        word-break: keep-all;
        white-space: pre-line;
        line-height: 16px;
        font-size: 13px;
        margin: 0; }
        body .main .main-content .output-data table .total-number p {
          margin: 0; }
      body .main .main-content .output-data table .last-row .number-item {
        font-weight: 700;
        color: #5aaddd; }
      body .main .main-content .output-data table tr td {
        position: relative;
        line-height: 1px; }
      body .main .main-content .output-data table tr input {
        display: none; }
      body .main .main-content .output-data table tr.editing span {
        display: none; }
      body .main .main-content .output-data table tr.editing input {
        display: block; }
      body .main .main-content .output-data table tr button.btn-success {
        display: none; }
      body .main .main-content .output-data table tr.editing .btn-danger {
        display: none; }
      body .main .main-content .output-data table tr.editing .btn-success {
        display: block;
        margin: 2px 0; }
    body .main .main-content .output-data td, body .main .main-content .output-data th {
      width: 100%;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      border: 2px solid #ccc; }
    body .main .main-content .output-data th {
      border: 2px solid #5aaddd;
      font-weight: 700;
      color: #5aaddd;
      padding: 5px; }
      body .main .main-content .output-data th input {
        width: 100%;
        padding: 5px 0;
        font-weight: 700;
        font-size: 18px;
        border: none;
        text-align: center; }
        body .main .main-content .output-data th input:focus {
          box-shadow: none;
          border: none; }
    body .main .main-content .output-data td {
      padding: 5px;
      text-align: center; }
      body .main .main-content .output-data td input {
        width: 95%;
        text-align: center; }
    body .main .main-content .input-data #form .title {
      margin: 10px 0 0 0;
      text-align: left;
      font-weight: 700; }
    body .main .main-content .input-data #form .form-group {
      display: inline-block;
      width: 18.67%; }
      body .main .main-content .input-data #form .form-group input {
        width: 92%;
        text-align: center; }
      @media (max-width: 480px) {
        body .main .main-content .input-data #form .form-group {
          display: inline-block;
          width: 18.67%; } }
    body .main .copyright {
      position: absolute;
      bottom: 20px;
      margin: 0px auto;
      text-align: center;
      width: 100%; }
